bin
build
target
dist
logs
.classpath
.gradle
gradle/
.project
settings.gradle
test-output
tmp
node_modules/
*.log
.DS_Store
out
*.iml
*.ipr
*.iws
bower_components/
nohup.out
.idea
/nbproject/private/
/.apt_generated/
appendonly-3*
dump-3*
nodes-3*
gradlew*
